{% extends 'base.html.twig' %}

{% block title %}{{ minifigure.minifigId }} - {{ minifigure.name }}{% endblock %}

{% block body %}

<a href="/minifigures">Powrót do listy Minifigurek</a>

{{dump()}}

{{form_start(form)}}
{{form_end(form)}}

<div>Znaleziono: 
        {% if Bricks|length == 1 %}
            1 element.
        {% elseif Bricks|length|last == 2 or Bricks|length|last == 3 or Bricks|length|last == 4 %}
            {{ Bricks|length }} elementy.
        {% else %}
            {{ Bricks|length }} elementów.
        {% endif %}
    </div>
    {% for Brick in Bricks %}
        <div class="brick">
            <img src="{{Brick.ImagePath}}" alt="{{Brick.BrickId}}">
            <h4>{{Brick.BrickId}}</h4>
            <h4>{{Brick.Name}}</h4>
            <h4>{{Brick.PartType}}, {{Brick.Color}}</h4>
            <h5>ilość: {{Brick.Quantity}}</h4>
        </div>
    {% endfor %}
    
<a href="delete/{{ minifigure.id }}">Delete</a>



{% endblock %}
